.new-tarea{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 100px;
    border: groove 3px rgb(43, 255, 0);
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background:radial-gradient(rgb(28, 241, 0),rgb(18, 148, 1));
    color: white;
    position:fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    transform: rotate(135deg);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
.new-tarea--active{
    transform: rotate(0deg);
    background:radial-gradient(rgb(241, 0, 0),rgb(148, 1, 1));
    border-color: rgb(255, 0, 0);
}
.icon-add-svg{
    width: 30px;
    height: 30px;
    pointer-events: none;
}